#System files
/Ph_o/.idea
/static
/8db.sqlite31331
/55db.sqlite3
/66db.sqlite3
/db.sqlite3
*/migrations/*
!*/migrations/__init__.py
*/Ph_o/migrations/*
!*/Ph_o/migrations/__init__.py
/.env
/venv/
/Ph_o/66db.sqlite3
/Ph_o/8db.sqlite31331
/Ph_o/db.sqlite3
/Ph_o/55db.sqlite3
/Ph_o/.idea/misc.xml
.idea/misc.xml
/Ph_o/.idea/modules.xml
/Ph_o/.idea/vcs.xml
/Ph_o/.env
