<!-- templates/photos/home.html -->
{% extends 'photos/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}

<script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

<center>
<h3>Контакты</h3><br>
<div class="card" style="width: 48rem;">
  <div class="card-body" style="text-align: left"><!-- Начало текстового контента -->
    <h4 class="card-title">Участникам</h4>
    <h6 class="card-subtitle mb-2 text-muted">Наши контакты</h6>
    <p class="card-text">Выберите удобный вариант связи ниже</p>
    <a href="https://wa.me/+79216428492"><span class="iconify"  data-icon="ion:logo-whatsapp" style="color: #c7c3c3;" data-width="25"></span></a>
    <a href="https://t.me/+79216428492"><span class="iconify" data-icon="ion:send-sharp" style="color: #c7c3c3;" data-width="25" data-rotate="135deg"></span></a>
    <a href="mailto:artem.svh@gmail.com"><span class="iconify" data-icon="mdi:gmail" style="color: #c7c3c3;" data-width="25"></span></a>
  </div><!-- Конец текстового контента -->
</div><!-- Конец карточки -->

<div class="card" style="width: 48rem;">
  <div class="card-body" style="text-align: left"><!-- Начало текстового контента -->
    <h4 class="card-title">Организаторам</h4>
    <h6 class="card-subtitle mb-2 text-muted">Наши контакты</h6>
    <p class="card-text">Выберите удобный вариант связи ниже</p>
    <a href="https://wa.me/+79216428492"><span class="iconify"  data-icon="ion:logo-whatsapp" style="color: #c7c3c3;" data-width="25"></span></a>
    <a href="https://t.me/+79216428492"><span class="iconify" data-icon="ion:send-sharp" style="color: #c7c3c3;" data-width="25" data-rotate="135deg"></span></a>
    <a href="mailto:artem.svh@gmail.com"><span class="iconify" data-icon="mdi:gmail" style="color: #c7c3c3;" data-width="25"></span></a>
  </div><!-- Конец текстового контента -->
</div><!-- Конец карточки -->

<div class="card" style="width: 48rem;">
  <div class="card-body" style="text-align: left"><!-- Начало текстового контента -->
    <h4 class="card-title">Фотографам</h4>
    <h6 class="card-subtitle mb-2 text-muted">Наши контакты</h6>
    <p class="card-text">Выберите удобный вариант связи ниже</p>
    <a href="https://wa.me/+79216428492"><span class="iconify"  data-icon="ion:logo-whatsapp" style="color: #c7c3c3;" data-width="25"></span></a>
    <a href="https://t.me/+79216428492"><span class="iconify" data-icon="ion:send-sharp" style="color: #c7c3c3;" data-width="25" data-rotate="135deg"></span></a>
    <a href="mailto:artem.svh@gmail.com"><span class="iconify" data-icon="mdi:gmail" style="color: #c7c3c3;" data-width="25"></span></a>
  </div><!-- Конец текстового контента -->
</div><!-- Конец карточки -->
</center>

{% endblock %}