{% extends 'photos/base.html' %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

{% block title %}Настройки профиля{% endblock %}

{% block content %}
<style>


</style>

    <center>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="https://st3.depositphotos.com/4111759/13425/v/380/depositphotos_134255626-stock-illustration-avatar-male-profile-gray-person.jpg"><span class="font-weight-bold">Amelly</span><span class="text-black-50">amelly12@bbb.com</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Настройка профиля</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Имя</label><input type="text" class="form-control" placeholder="Имя" value=""></div>
                    <div class="col-md-6"><label class="labels">Фамилия</label><input type="text" class="form-control" value="" placeholder="фамилия"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Ваш телефон</label><input type="text" class="form-control" placeholder="введите номер телефона" value=""></div>
                    <div class="col-md-12"><label class="labels">Дата рождения</label><input type="text" class="form-control" placeholder="Ваш день рождения" value=""></div>
                    <div class="col-md-12"><label class="labels">Ваша почта</label><input type="text" class="form-control" placeholder="Укажите Вашу почту" value=""></div>
                    <div class="col-md-12"><label class="labels">Ваш адрес</label><input type="text" class="form-control" placeholder="Ваш адрес" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Страна</label><input type="text" class="form-control" placeholder="Страна" value=""></div>
                    <div class="col-md-6"><label class="labels"></label>Регион<input type="text" class="form-control" value="" placeholder="Регион"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Сохранить профиль</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Изменить пароль</span></div>
                <div class="col-md-12"><label class="labels">Старый пароль</label><input type="password" class="form-control" placeholder="Старый пароль" value="oldpasword"></div> <br>
                <div class="col-md-12"><label class="labels">Новый пароль</label><input type="password" class="form-control" placeholder="Новый пароль" value="password1"></div>
                <div class="col-md-12"><label class="labels">Подтвердите пароль</label><input type="password" class="form-control" placeholder="Подтвердите пароль" value="password2"></div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Изменить пароль</button></div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
    </center>

{% endblock %}